.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  vertical-align: top;
  overflow: hidden;
  background-image: url("isb.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.svg {width: 100%; height: 100%}
    text {
        font: 10px sans-serif;
    }

.tooltip {
    visibility: hidden;
    position: absolute;
    text-align: left;
    border: 0.5px solid lightgrey;
    padding: 5px;
    font: 10px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
    width: auto;
    height: auto;
}

  circle.fixed {
    stroke: black
  }

  circle.not-fixed {
    stroke: black
  }

  circle.info {
    fill: blue;
  }

  circle.orga {
    fill: green;
  }

  circle.tech {
    fill: purple;
  }

  circle.pers {
    fill: pink;
  }

  circle.anza {
    fill: red;
  }

  circle.fachProz {
    fill: rgb(0, 255, 213);
  }

  circle.Standard {
    fill: rgb(251, 255, 0);
  }

  circle.Standort {
    fill: rgb(255, 0, 200);
  }

  line.Eingesetzt_In {
    stroke: blue;
    stroke-width: 1px;
  }

  line.besitzt {
    stroke: blue;
    stroke-width: 1px;
  }

  line.gehoert_zu {
    stroke: green;
    stroke-width: 1px;
  }

  line.integriert {
    stroke: rgb(0, 255, 213);
    stroke-width: 1px;
  }

  line.liegt_am {
    stroke: green;
    stroke-width: 1px;
  }

  line.verantwortlich {
    stroke: pink;
    stroke-width: 1px;
  }

  line.verwendet_Standard {
    stroke: blue;
    stroke-width: 1px;
  }

  line.verwendet_Technologie {
    stroke: blue;
    stroke-width: 1px;
  }